body {
  background: radial-gradient(150vmin circle at 50% 30%, #FF00FF 20%, 60%, #FF1493 97%, #FFB6C1 100%);
  text-align: center;
  overflow: hidden;
  filter: sepia(0%);
  /*disable css filters for firefox (choppy animations):*/
  background-attachment: local;
}
@-moz-document url-prefix() {
  body {
    filter: none;
  }
}